@font-face {
    font-family: 'Itim';
    src: url('/asset/fonts/Itim/Itim-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Akaya Kanadaka';
    src: url('/asset/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src: url('/asset/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}

body {
    font-family: 'Kanit' !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg-body.jpg);
    /* -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px); */
}


.shadow-navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    height: calc(100vh / 2);
    /* สูง 1/3 ของหน้าจอ */
    width: calc(100vw / 3);
    overflow: hidden;

}

.carousel-image {
    object-fit: cover;
    /* จัดการภาพให้ครอบคลุมพื้นที่ */
    height: 100%;
    /* ใช้พื้นที่เต็มของ carousel */
    width: 100%;

}


.contact-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contact-content {
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 203, 231, 0.6);
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 203, 231, 0.32);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.contact-content img {
    background-color: #e30c3b;
    /* clip-path: circle(60px);
    border-radius: 50%; */
    clip-path: circle(50%);
    padding: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact-content a {
    transition: 0.3s ease-in-out;
}

.contact-content img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.contact-content a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    ;
}


/* Masonry Grid */
.masonry-grid {
    column-count: 3;
    column-gap: 1em;
}

.masonry-item {
    position: relative;
    break-inside: avoid;
    margin-bottom: 1em;
    transition: 1s ease;

}

.masonry-item img {
    width: 100%;
    border-radius: 8px;
}

.masonry-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}


.masonry-item img:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
}


.image-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 6px;
    font-size: 2px;
    background-color: rgba(255, 255, 255, 0.404);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.image-name {
    font-size: 2vw;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.8s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(227, 12, 59, 0.8);
    /* background-color: rgb(255, 203, 231,0.8); */
    padding: 10px;
    box-sizing: border-box;
    height: 50%;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.image-name.show {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    max-height: 30%;

}

.img-fluid.blur {
    filter: blur(2px);
    transition: filter 0.5s ease-in;

}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.show {
    opacity: 1;
}


.btn-group .btn {
    background-color: #e30c3b;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-group .btn:hover {
    background-color: #FFCBE7;
    color: #e30c3b;
    border: none;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* .btn-group .btn:focus {
    background-color: #FFCBE7;
    color: #e30c3b;
    border: none;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
} */

/* .btn-group .btn.active {
    background-color: #FFCBE7 !important;
    color: #e30c3b;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
} */

.btn-type {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 8px;
    gap: 8px;
    min-height: auto;
}

.btn-type .btn {
    min-width: fit-content;
    background-color: #FFCBE7;
    color: #e30c3b;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.btn-type .btn:hover {
    background-color: #e30c3b !important;
    color: #FFCBE7 !important;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-type .btn.active {
    background-color: #e30c3b;
    color: #FFCBE7;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #ffcbe7, #ffc1e2, #ffb6dd, #ffabd8, #ffa0d3);

}

.footer-logo {

    position: relative;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e30c3b;
}

/* Fullscreen modal overlay */
.fullscreen-modal {
    display: none;
    /* ซ่อน modal เริ่มต้น */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* รูปใน modal ให้เป็นเต็มจอ */
.fullscreen-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}


@media (max-width: 768px) {

    .btn-type .btn:hover {
        background-color: #FFCBE7; /* ยกเลิกการเปลี่ยนสี */
        color: #e30c3b; /* ยกเลิกการเปลี่ยนสี */
    }

    .contact-container {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90% !important;
        /* margin-bottom: 5px; */
    }

    .contact-content {
        display: flex;
        justify-content: space-evenly;

    }

    .contact-content a {
        display: none;

    }

    .contact-content .contact {
        margin-top: 0 !important;

    }

    .masonry-grid {
        column-count: 2;
        /* กำหนดจำนวนคอลัมน์ */
        column-gap: 1em;
        /* เว้นระยะระหว่างคอลัมน์ */
    }

    /* .btn-group,
    .btn-group-vertical {
        display: block !important;
        
    } */

    .btn-group button {
        margin-bottom: 2px;

    }

    .btn-type button {
        margin-bottom: 2px;

    }

    .btn-group label {
        font-size: 2.6vw;
    }

    .image-name {
        font-size: 4vw;
        color: #ffffff;
        text-align: center;
        font-weight: bolder;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, max-height 0.8s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(227, 12, 59, 0.8);
        padding: 10px;
        box-sizing: border-box;
        height: 50%;
        width: 80%;
    }


}


hr.new1 {
    border-top: 1px solid rgb(0, 0, 0);
}




.dots {
    width: 13.4px;
    height: 13.4px;
    position: relative;
}

.dots::before,
.dots::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #e30c3b;
}

.dots::before {
    box-shadow: -26.9px 0 #e30c3b;
    animation: dots-dm1l1cmd 0.6s infinite linear;
}

.dots::after {
    transform: rotate(0deg) translateX(26.9px);
    animation: dots-dh1qq5md 0.6s infinite linear;
}

@keyframes dots-dm1l1cmd {
    100% {
        transform: translateX(26.9px);
    }
}

@keyframes dots-dh1qq5md {
    100% {
        transform: rotate(-180deg) translateX(26.9px);
    }
}