
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
}
/* styles.css */
.carousel-image {
    height: 90vh; /* กำหนดความสูงตามที่ต้องการ */
    width: 100;
    object-fit: cover; /* ทำให้รูปเต็มพื้นที่โดยไม่เสียอัตราส่วน */
}

/* Masonry Grid */
.masonry-grid {
    column-count: 3; /* กำหนดจำนวนคอลัมน์ */
    column-gap: 1em; /* เว้นระยะระหว่างคอลัมน์ */
}

.masonry-item {
    break-inside: avoid; 
    margin-bottom: 1em;
    transition: 1s ease;
}

.masonry-item img {
    width: 100%;
    border-radius: 8px;
}

.masonry-item img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }

/* 
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0 !important;
} */



.contact-section {
    display: flex;
    height: 100vh;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffcbe7;
}

.contact-image {
    width: 50%;
    background-size: cover;
    background-position: center;
}


.btn-group .btn {
    margin-right: 10px;
}

.btn-group button {
    background-color: #FFCBE7;
}

.btn-group button:hover{
    background-color: #DD0F3A;
    border: none;
}

.btn-group button:focus{
    background-color: #DD0F3A;
    border: none;
}





@media (max-width: 768px) {

    .masonry-grid {
        column-count: 2; /* กำหนดจำนวนคอลัมน์ */
        column-gap: 1em; /* เว้นระยะระหว่างคอลัมน์ */
    }

    .container-fluid {
        flex-direction: column;
    }

    .contact-image {
        
        display: none !important;
    }

    .btn-group, .btn-group-vertical {
        display: block !important;
        /* vertical-align: middle; */

    }
}
