
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
}
/* styles.css */
.carousel-image {
    height: 90vh; /* กำหนดความสูงตามที่ต้องการ */
    object-fit: cover; /* ทำให้รูปเต็มพื้นที่โดยไม่เสียอัตราส่วน */
}

