
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 20vw;
    height: auto;
    border-radius: 8px;
}

.gallery .photo {
    text-align: center;
}

.photo-title {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ecffc1;
    background: -webkit-linear-gradient(0deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
    background: linear-gradient(0deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
    font-family: Arial, sans-serif;
    text-align: center;
}

.welcome-section h1{
    font-size:8vw;
}


.group-button{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    
}

.group-button button{
    width: 20%;
    height: 6vh;
    background-color: #ffe6cc;
    border: none;
    border-radius:3% ;
    cursor: pointer;
    
}

.group-button button:hover{
    transition: 0.5s;
    background-color: #dfbaf7;
}

.group-button button:focus {
    background-color: #d69bf4; /* สีที่ต้องการให้เปลี่ยนเมื่อถูกกด */
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #87CEFA;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
